<!DOCTYPE html>
<html>
<head>
	<title>西南交通大学人事处投票系统客户端</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet"  href="css/app.css" />
	<link rel="stylesheet"  href="libs/jquery.slider/jquery.slider.min.css" />
	
</head>
<body>

<div id="page">
	<div id="sidebar" style="display:none;">
		<header>选票单</header>
		<nav id="navWrapper">
			<ul id="navScroller">
				<script id="sidenav-tpl" type="text/template">
					<% _.each(sections,function(section,i){%>
					<li class="sidebaritem"><a href="javascript:load_ballot(<%= i%>);"><%= section.title%></a>
					<!--
					<span class="subtitle"><%= section.subtitle%></span>
					-->
					</li>
					<% });%>
				</script>
				<li><button  type="button" data-theme="e" id="votesubmit">发送投票结果</button></li>
			</ul>
		</nav>
	</div>

	<div id="content">
		<header id="pagetitle">请登入系统</header>
		<article id="contentWrapper">
			<div id="contentScroller">
			  <p class="intro"></p>
			  <div id="login" >
			  		<p>请输入纸条上的投票密码</p>
					<input type="text" name="login" placeholder="用户名"  /><br/>		
					<input type="text" name="password" placeholder="密码" /> <br/>
					<button class="btn"  type="button"   id="loginnow">登入</button>
			  </div>
		  		<form id="voteform">
				<script id="votesection-tpl" type="text/template">
				<div id="section-<%= count%>">
				 <%  _.each(groups, function(group,i) {  %>
				 	<div class="group">
				 	<div class="group-title"><%= group.title%>最多选择<%= group.max%>个人</div> 
				 	<ul id="votelist" class="vote">
				 		<% _.each(group.candidates,function(candidate,j){%>
				 			<li class="group-item">
				 				<label><%= candidate.name%>(<%= candidate.org%>)
				 				<div class="checkbox_widget">
					 			<input type="checkbox" name="answer[<%= candidate.org%>][<%= candidate.name%>][votevalue]"  value="1" id="checkbox-<%= i%>" />
					 			</div>
					 			</label>
				 			</li>
				    	<% });%>
				    </ul>
				    </div><!--end of .group-->
				 <% }); %>  
				 </div> 
				</script>

				<script id="marksection-tpl" type="text/template">
				<div  id="section-<%= count%>">
				 <%  _.each(groups, function(group,i) {  %>
				 		<div class="group">
				 		<div class="group-title"><%= group.title%></div>
				 		<ul id="marklist" class="mark">
			 				<% _.each(group.orgs,function(org,k){%>
			 				<% if(!_.isNull(org)){%>
			 					<li class="mark mark-org group-item">
			 					<div class="group-org"><%= org.fullname%></div>
			 					<% _.each(group.questions,function(question,j){%>
									<label for="markvalue<%= count%>-<%= i%>-<%= k%>-<%= j%>"><%= question.text%>
									<div class="rangeinput_widget">
			   						<a href="#" onclick="rangedecrease(this);">-</a>
			   						<input type="number" class="rangeinput" name="answer[<%= org.fullname%>][<%= question.text%>][markvalue]" id="markvalue<%= count%>-<%= i%>-<%= k%>-<%= j%>" value="0" min="0" max="<%= question.weight%>"  data-highlight="true" />
			   						<a href="#" onclick="rangeadd(this);">+</a>
			   						</div>
			   						</label>
								<% });%>
			   					</li>
			 				<% }%>
				    		<% });%>
				    	</ul>
				    	</div><!--end of .group-->
				 <% }); %>  
				 </div>  
				</script>
				


			  </form>
		     <script id="voteresult-tpl" type="text/template">
				状态：<%= status%>
			  </script>


			</div>
		</article>
	</div>
</div>


	<script src="cordova-2.2.0.js"></script>
	<script src="libs/jquery/jquery-1.7.1.js"></script>
	<script src="libs/iscroll/iscroll.js"></script>
	<script src="libs/jquery.slider/jquery.slider.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/app.js"></script>


</body>
</html>
