!!! 5
html
  include header
  body
    include nav
    div.container-fluid
      dov.row-fluid
        div.span3
          div.well.sidebar-nav
            include sidebar
        div.span9
          block content    
    include footer
    include scripts




