div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href="/") 移动投票系统
      div.nav-collapse.collapse
        ul.nav
          li.active
            a(href="/") 首页
          li
            a(href="/vote") 投票
          //  
            li
              a(href="/answer") 投票结果
          li
            a(href="/org") 单位
          li
              a(href="/candiate") 候选人
          li
            a(href="/voter") 投票密码