div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href="/") 人机工程评价系统
      div.nav-collapse.collapse
        ul.nav
          li.active
            a(href="/") 首页
          li
            a(href="/vote") 评价项目
          li
            a(href="/answer") 评价数据
          li
            a(href="/report") 报表
          li
            a(href="/org") 待评单位
          //
            li
              a(href="/candiate") 候选人
          li
            a(href="/voter") 参评口令
