ul.nav.nav-list
	li.nav-header 功能表
	li.active
		a( href="/") 欢迎
	li
		a( href="/vote") 投票
	li
		a( href="/org") 单位
	li
		a( href="/targets") 候选人
	li
		a( href="/indexes") 指标
	li.nav-header 报表
	li
		a( href="#") Link
	li
		a( href="#") Link
	li
		a( href="#") Link
	li
		a( href="#") Link
	li
		a( href="#") Link
	li
		a( href="#") Link	
	li.nav-header 设置
	li
		a( href="#") Link
	li
		a( href="#") Link
	li
		a( href="#") Link
	li
		a( href="#") Link
	li
		a( href="#") Link


