extends ../layout
block content
  h1 添加一次投票

  form(method="post",action="/vote")
    #setp1.well
      h2 填写基本信息
      label(for="name") 名称:
        input#name(name="name",type="text",value="#{name}")
      label 类型:
        select#vtype(name="vtype")
          option(value="") 
          option(value="vote") 投票
          option(value="mark") 评分
      label(for="note") 说明:
        textarea#note(name="note")
      a#btn_to_setp2.btn(href="#setp2")  下一步

    #setp2.well
      <h2>编辑选票</h2>
      //选票单 sections
      fieldset.section
        legend 选票一
        label 标题:
          input(name="sections[0][title]",type="text")
        label 副标题:
          input(name="sections[0][subtitle]",type="text")
        label 候选人:
          a.add-candidates.btn(href="#candidates-section-0",role="button",data-toggle="modal") 添加
        //子选票单 groups
        #candidates-section-0.group.modal.hide.fade(tabindex="-1",role="dialog",aria-hidden="true")
          .modal-header
            button.close(data-dismiss="modal",aria-hidden="true") ×
            h3 添加候选人
          .modal-body
            fieldset.span6            
              //候选人
              fieldset.forvote.candidate
                //legend 候选人
                input.span2(name="sections[0][groups][0][candidates][0][org]",type="text",placeholder="单位")
                input.span1(name="sections[0][groups][0][candidates][0][name]",type="text",placeholder="姓名")
                //input(name="sections[0][groups][0][candidates][0][photo]",type="text")
                a(href="javascript:return false;",onclick="remove_field(this)")  删除
              a.forvote(href="javascript:return false;",onclick="add_field(this,'candidate')")  添加候选人
              label.forvote 选举控制参数
                span.count
                span 最多选几
                input(name="sections[0][groups][0][max]",type="number")
                span 最少选几
                input(name="sections[0][groups][0][min]",type="number")
              label 分组名称
                input(name="sections[0][groups][0][title]")
          .modal-footer
            button.btn(data-dismiss="modal",aria-hidden="true") 设置完毕
            button.btn.btn-primary Save changes
        a(href="javascript:return false;",onclick="remove_field(this)")  x
        #mark-section-0.group.row  
            //参与评价的单位              
            fieldset.formark.org
              legend 参与评价的单位
              each org,i in orgs
                label.checkbox.inline
                  input(type="checkbox",name="sections[0][groups][0][orgs][#{i}][fullname]",value="#{org.name}")
                  | #{org.name}
            //评价指标
            fieldset.formark.question
              legend 评价指标
              //label 指标代码
              //  input(name="sections[0][groups][0][questions][0][code]",type="text")
              label 指标内容
                input(name="sections[0][groups][0][questions][0][text]",type="text")
              label 分数
                input.input-mini(name="sections[0][groups][0][questions][0][weight]",type="number")
              fieldset.formark.subquestion
                legend 二级指标
                //label 指标代码
                //input(name="sections[0][groups][0][questions][0][subquestions][0][code]",type="text")
                label 指标内容
                  input(name="sections[0][groups][0][questions][0][subquestions][0][text]",type="text")
                label 分数
                  input.input-mini(name="sections[0][groups][0][questions][0][subquestions][0][weight]",type="number")
                a(href="javascript:return false;",onclick="remove_field(this)")  删除二级指标
              a(href="javascript:return false;",onclick="add_field(this,'subquestion')")  添加二级指标
              a(href="javascript:return false;",onclick="remove_field(this)")  删除指标
            a.formark(href="javascript:return false;",onclick="add_field(this,'question')")  添加指标
            a(href="javascript:return false;",onclick="remove_field(this)")  删除该组
          a(href="javascript:return false;",onclick="add_field(this,'group')")  添加一组
          a.btn(href="javascript:return false;",onclick="remove_field(this)")  删除选票单
      a.section.btn(href="javascript:return false;",onclick="add_field(this,'section')")  添加更多选票单

    #setp3.well
      label 设置状态：
        input(type="radio",name="isopen",value="no",checked="checked")
        | 稍后开放
        input(type="radio",name="isopen",value="yes")
        | 立即开放

      .field.span12
        input.btn(type="submit")
//
  table#pets
  include vote-editor-tpl.html
  script(src="/javascripts/jade.min.js")
  script(src="/javascripts/vote-editor.js")