extends ../layout
block content

  form(method="post",action="/vote")
    #setp1.well
      h2 填写项目信息
      label(for="title") 名称:
        input#name(name="name",type="text")
        input(type="hidden",name="vtype",value="mark")
      label(for="note") 说明:
        textarea#note(name="note")
    #setp2
      h2 编辑指标体系
      fieldset.section
        label 指标体系名称:
          input(name="sections[section_0][title]",type="text")
        label 指标体系简介:
          input(name="sections[section_0][subtitle]",type="text",size="200")
        //子选票单 groups
        .group.row
          fieldset.group.span6
            ///legend 组
            ///label 标题:
            input(name="sections[section_0][groups][group_0][title]",placeholder="标题",type="hidden")
            //参与评价的单位
            h3 参评单位
            fieldset.org
              a(href="#",role="button",data-toggle="modal").btn.modalfire 选择参加评价的单位
              div.modal.hide.fade
                div.modal-header
                  a.btn.btn-info(onclick="org_modal_selectall(this)") 全选
                  a.btn.btn-info(onclick="org_modal_cancelall(this)") 全部不选
                  button(type="button",data-dismiss="modal",aria-hidden="true").close &times;
                  h3 选择参加评价的单位
                div.modal-body
                  p
                    each org,i in allorgs
                      label.fullname.span2
                        input(type="checkbox",name="sections[section_0][groups][group_0][orgs][org_#{i}][fullname]",value="#{org.name}")
                        | #{org.name}
                      label.order.span1
                        input(type="text",name="sections[section_0][groups][group_0][orgs][org_#{i}][order]",placeholder="序号",value="0")
                div.modal-footer
                  button.btn.btn-primary(data-dismiss="modal",aria-hidden="true") 选好了
            //评价指标
            h3 评价指标
            fieldset.question
              input(name="sections[section_0][groups][group_0][questions][question_0][text]",type="text",placeholder="指标内容").questiontext
              input.input-mini(name="sections[section_0][groups][group_0][questions][question_0][weight]",type="number",placeholder="分数")
              fieldset.subquestion
                ol
                  li.item
                    input(name="sections[section_0][groups][group_0][questions][question_0][subquestions][subquestion_0][items][item_0][text]",type="text",placeholder="二级指标内容").questiontext
                    input.input-mini(name="sections[section_0][groups][group_0][questions][question_0][subquestions][subquestion_0][items][item_0][weight]",type="number",placeholder="分数")
                    textarea(name="sections[section_0][groups][group_0][questions][question_0][subquestions][subquestion_0][items][item_0][note]")
                    a.deletebtn(href="javascript:return false;",onclick="remove_field(this)")  删除指标明细项
                  a.btn(href="javascript:return false;",onclick="add_field(this,'item')")  添加指标明细项
                  hr
                a.deletebtn(href="javascript:return false;",onclick="remove_field(this)")  删指指标明细项组
              a.btn(href="javascript:return false;",onclick="add_field(this,'subquestion')")  添加指标明细项组
              hr
              a.deletebtn(href="javascript:return false;",onclick="remove_field(this)")  删除指标内容
            a.btn(href="#",onclick="add_field(this,'question')")  添加指标内容
            a.deletebtn(href="javascript:return false;",onclick="remove_field(this)")  删除子项目
          a.btn.btn-info.addgroup(href="javascript:return false;",onclick="add_field(this,'group')")  添加子项目
        a.deletebtn(href="javascript:return false;",onclick="remove_field(this)")  删除选票单
      a.section.btn(href="javascript:return false;",onclick="add_field(this,'section')")  添加选票单

    #setp3
      input.btn.btn-primary(type="submit")
  script(src="/javascripts/vote-editor.js")
