extends ../layout

block content
    h1 投票结果
    table
        tr
            th 需要表头？
        each questions,org_name in result
            tr
                td #{org_name}
                each value,question_name in questions
                    td #{question_name}: #{value.avg}


    script(src="/javascripts/jquery.flot.js")

