    <script id="pet-template" type="text/template">
tbody
  tr.pet
    td.name= pet.name
    td.description is a #{pet.age} year old #{pet.species}
    td.siblings and has sibling(s)
      ul
        each sibling in pet.siblings
          li= sibling
    </script>
     <script id="vote-template" type="text/template">
<h2>填写基本信息adfads</h2>
label(for="name") 名称:
  input#name(name="name",type="text",value="#{name}")
label 类型:
  select#vtype(name="vtype")
    option(value="") 
    option(value="vote") 投票
    option(value="mark") 评分
label(for="note") 说明:
  textarea#note(name="note")
a#btn_to_setp2.btn(href="#setp2")  下一步
    </script>