extends ../layout
block content
  h0 添加单位

  form(method="post",action="/org")
    p
      label(for="name") 名称
    p
      input#name(name="name",type="text")
    p
      label(for="note") 说明
    p
      textarea#note(name="note")
    p
      input#name(name="candidates[name]",type="text")
    p
      input#name(name="candidates[code]",type="text")
    p
      input#name(name="sections[0][title]",type="text")
    p
      input#name(name="sections[0][subtitle]",type="text")
    p
      input#name(name="sections[0][candidates][0][code]",type="text")
    p
      input#name(name="sections[0][candidates][0][name]",type="text")
    p
      input#name(name="sections[0][candidates][0][photo]",type="text")
    p
      input#name(name="sections[0][candidates][1][code]",type="text")
    p
      input#name(name="sections[0][candidates][1][name]",type="text")
    p
      input#name(name="sections[0][candidates][1][photo]",type="text")
    p
      input#name(name="sections[1][title]",type="text")
    p
      input#name(name="sections[1][subtitle]",type="text")
    p
      input#name(name="sections[1][candidates][0][code]",type="text")
    p
      input#name(name="sections[1][candidates][0][name]",type="text")
    p
      input#name(name="sections[1][candidates][0][photo]",type="text")
    p
      input#name(name="sections[1][questions][0][code]",type="text")
    p
      input#name(name="sections[1][questions][0][fullname]",type="text")
    p
      input#name(name="sections[1][questions][1][code]",type="text")
    p
      input#name(name="sections[1][questions][1][fullname]",type="text")
    p
      input#name(name="sections[2][title]",type="text")
    p
      input#name(name="sections[2][subtitle]",type="text")
    p 
      input(type="submit")
