doctype html
html
  style.
    li{
        border-bottom:1px dotted #000;
        padding:8px;
    }
  body
    h1 投票 #{vote_name} #{role}组密码，共#{passcount}个。
    ul
        for p,i in password
          li #{p}
