extends ../layout
block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") 首页
      span.divider /
    li
      a(href="/candidate") 候选人
      span.divider /
    li.active 添加候选人
block content
  h1 添加候选人

  form(method="post",action="/candiate")
    p
      label(for="name") 名称
    p
      input#name(name="name",type="text")
    p
      label(for="note") 说明
    p
      textarea#note(name="note")
    p 
      input(type="submit")
