extends ../layout
block content
  h1 添加候选人

  form(method="post",action="/candiate")
    p
      label(for="name") 名称
    p
      input#name(name="name",type="text")
    p
      input#name(name="candidate[code]",type="text")
    p
      input#name(name="candidate[value]",type="text")
    p
      input#name(name="candidate_value",type="text")
    p
      input#name(name="question[code]",type="text")
    p
      input#name(name="question[text]",type="text")
    p
      input#name(name="org[code]",type="text")
    p
      input#name(name="org[fullname]",type="text")
    p
      input#name(name="question_value",type="text")
    p
      label(for="note") 说明
    p
      textarea#note(name="note")
    p 
      input(type="submit")
